
@layer collie-ui.AtomicTsx-Atomic-13rp9sn {.baseStyle-10lnxkn{display:inline-block;box-sizing:border-box;padding:0;margin:0}@media (min-width:320px){.variants-w-dynamic-14vi8ki{width:var(--variants-w-at320)}}
@media (min-width:768px){.variants-w-dynamic-14vi8ki{width:var(--variants-w-at768)}}
.variants-circle-true-iu5uo5{border-radius:99999px;aspect-ratio:1}
.variants-square-true-ugs06o{aspect-ratio:1}
.variants-pill-true-ug5f1d{border-radius:99999px}
.variants-dbg-true-xg5esh{outline:1px solid red}
}

