.idea/
.pnpm-store
.history/
dist/
node_modules/
coverage/
.yarn/
# .vscode/
*/**/.DS_Store
**/**/.rollup.cache/
src/frontend/Javascript/library/block-chain-stuff/ethereum/deploy-local-server/node0*
**/**/private
**/**/*.log
.eslintcache
tsconfig.tsbuildinfo
packages/**/log.txt
playwright-report/
playwright/.cache/
*/**/.cache/
