auto-install-peers=true
public-hoist-pattern[]=*storybook*
strict-peer-dependencies=false
shamefully-hoist=true
auto-install-peers=true
ignore-workspace-root-check=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN_COLLIE}
