



.css-cxBzPo{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);gap:40px}






























.css-kKPAlV{gap:40px}.css-deNPjB{width:100px}
.css-dAjcCR{width:500px}
.css-fowdrd{gap:100px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
.css-fzLcLg{display:inline-block;font-size:40px}
.css-fzLcLg{display:inline-block;font-size:40px}
.css-cDseuK{gap:50px;margin-top:200px;fx:center}
.css-krROCw{gap:100px;margin-top:100px;margin-left:100px}.css-krROCw{gap:100px;margin-top:100px;margin-left:100px}