@layer app {
    @layer Tooltip_tsx-FloatingText-cqiLez {
      .baseStyle-FloatingText-hzgIUH{display:flex;padding:10px;border:1px solid currentColor;justify-content:center;align-items:center}
.baseStyle-FloatingText-hzgIUH::before{content:"";position:absolute;width:12px;height:6px;top:100%;bottom:;left:50%;transform:translateX(-50%);-webkit-clip-path:polygon(0% 0%, 50% 100%, 100% 0%);clip-path:polygon(0% 0%, 50% 100%, 100% 0%);background:currentColor}
.baseStyle-FloatingText-hzgIUH{position:relative}
.baseStyle-FloatingText-hzgIUH::after{content:"";position:absolute;width:10px;height:4px;top:100%;bottom:;left:50%;transform:translateX(-50%);-webkit-clip-path:polygon(0% 0%, 50% 100%, 100% 0%);clip-path:polygon(0% 0%, 50% 100%, 100% 0%);background:inherit}
.baseStyle-FloatingText-hzgIUH{position:relative}    
    }
@layer Row_tsx-Row-jYmQmg {
    .baseStyle-Row-jwtIMV{display:flex;flex-direction:row;align-items:center;justify-content:flex-start}.variants-dynamic-gap-kXpQlZ > :where(:not(:last-child)){margin-right:var(--variants-dynamic-gap)}
.variants-dynamic-fx-ANWiv{justify-content:var(--variants-dynamic-fx)}
.variants-dynamic-fy-kmMKzK{align-items:var(--variants-dynamic-fy)}

    @layer Box_tsx-Box-czJRRQ {
      .baseStyle-Box-dhzjXW{display:flex}.variants-static-dbg-true-cjqOyh,.variants-static-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
    
    }
  }
@layer Col_tsx-Col-BGgE {
    .baseStyle-Col-eVKEMs{display:flex;flex-direction:column;align-items:flex-start;justify-content:flex-start}.variants-dynamic-gap-icbYTO{gap:var(--variants-dynamic-gap)}
.variants-dynamic-fx-loOejf{align-items:var(--variants-dynamic-fx)}
.variants-dynamic-fy-ljNanW{justify-content:var(--variants-dynamic-fy)}

    @layer Box_tsx-Box-czJRRQ {
      .baseStyle-Box-dhzjXW{display:flex}.variants-static-dbg-true-cjqOyh,.variants-static-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
    
    }
  }
@layer Responsive_tsx-Responsive-cLIOYU {
    .baseStyle-Responsive-JkyKy{display:flex;flex-direction:row;flex-wrap:nowrap}
@media (max-width: 767.999px){.baseStyle-Responsive-JkyKy{flex-direction:column}}.variants-dynamic-fx-dmFnsR{justify-content:var(--variants-dynamic-fx)}
@media (max-width: 767.999px){.variants-dynamic-fx-dmFnsR{align-items:var(--variants-dynamic-fx)}}
.variants-dynamic-fy-gUkfnV{align-items:var(--variants-dynamic-fy)}
@media (max-width: 767.999px){.variants-dynamic-fy-gUkfnV{justify-content:var(--variants-dynamic-fy)}}

    @layer Box_tsx-Box-czJRRQ {
      .baseStyle-Box-dhzjXW{display:flex}.variants-static-dbg-true-cjqOyh,.variants-static-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
    
    }
  }
@layer Fixed_tsx-StyledFixed-kRRSrX {
    .baseStyle-StyledFixed-dguCHI{position:fixed}
    @layer Box_tsx-Box-czJRRQ {
      .baseStyle-Box-dhzjXW{display:flex}.variants-static-dbg-true-cjqOyh,.variants-static-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
    
    }
  }
@layer Stack_tsx-StyledStack-fkemHX {
    .baseStyle-StyledStack-iXFdhL{position:relative;display:inline-block;overflow:hidden;width:max-content}
.baseStyle-StyledStack-iXFdhL > :not(:first-child){left:0;top:0;position:absolute}
    @layer Box_tsx-Box-czJRRQ {
      .baseStyle-Box-dhzjXW{display:flex}.variants-static-dbg-true-cjqOyh,.variants-static-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
    
    }
  }
@layer Abs_tsx-Abs-ipsEOw {
    .baseStyle-Abs-bMCfDd{position:absolute}
    @layer Box_tsx-Box-czJRRQ {
      .baseStyle-Box-dhzjXW{display:flex}.variants-static-dbg-true-cjqOyh,.variants-static-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
    
    }
  }
@layer Relative_tsx-Relative-eswqQo {
    .baseStyle-Relative-cmpvrW{position:relative}
    @layer Box_tsx-Box-czJRRQ {
      .baseStyle-Box-dhzjXW{display:flex}.variants-static-dbg-true-cjqOyh,.variants-static-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
    
    }
  }
@layer List_tsx-StyledList-cNPnVP {
      .baseStyle-StyledList-gNbevc{list-style:none;flex-wrap:nowrap}.variants-static-direction-column-dUzzmp{flex-direction:column;align-items:stretch}
.variants-static-direction-row-ejCoEP{flex-direction:row}
    
    }
@layer Space_tsx-Space-jovUyX {
    .baseStyle-Space-ihnDDS{display:flex;flex-shrink:0}.variants-dynamic-size-ZfEFk{width:var(--variants-dynamic-size);height:var(--variants-dynamic-size)}
.variants-dynamic-x-cRaSPh{width:var(--variants-dynamic-x);height:1px}
.variants-dynamic-y-cZlTof{width:1px;height:var(--variants-dynamic-y)}

    @layer Atomic_tsx-Atomic-gKMHyH {
      .baseStyle-Atomic-cCmDkm{display:inline-block;box-sizing:border-box;padding:0;margin:0}.variants-dynamic-w-fKYRYL{width:var(--variants-dynamic-w)}
.variants-static-circle-true-eDlWuc{border-radius:100000px;aspect-ratio:1}
.variants-static-square-true-gMMftT{aspect-ratio:1}
.variants-static-round-true-dtVMWK{border-radius:100000px}
.variants-static-dbg-true-imyPck{border:1px solid red}
.variants-static-disabled-true-hWMCax{pointer-events:none}
    
    }
  }
@layer Button_tsx-StyledButton-dccKMd {
    .baseStyle-StyledButton-grBZiB{display:inline-flex;align-items:center;justify-content:center;cursor:pointer}
.baseStyle-StyledButton-grBZiB[disabled]{cursor:not-allowed}
    @layer Atomic_tsx-Atomic-gKMHyH {
      .baseStyle-Atomic-cCmDkm{display:inline-block;box-sizing:border-box;padding:0;margin:0}.variants-dynamic-w-fKYRYL{width:var(--variants-dynamic-w)}
.variants-static-circle-true-eDlWuc{border-radius:100000px;aspect-ratio:1}
.variants-static-square-true-gMMftT{aspect-ratio:1}
.variants-static-round-true-dtVMWK{border-radius:100000px}
.variants-static-dbg-true-imyPck{border:1px solid red}
.variants-static-disabled-true-hWMCax{pointer-events:none}
    
    }
  }
@layer Link_tsx-Link-dZqNls {
    .baseStyle-Link-fGLCmB{text-decoration:none;cursor:pointer}.variants-static-underline-true-hrMtea{text-decoration:underline}

    @layer Atomic_tsx-Atomic-gKMHyH {
      .baseStyle-Atomic-cCmDkm{display:inline-block;box-sizing:border-box;padding:0;margin:0}.variants-dynamic-w-fKYRYL{width:var(--variants-dynamic-w)}
.variants-static-circle-true-eDlWuc{border-radius:100000px;aspect-ratio:1}
.variants-static-square-true-gMMftT{aspect-ratio:1}
.variants-static-round-true-dtVMWK{border-radius:100000px}
.variants-static-dbg-true-imyPck{border:1px solid red}
.variants-static-disabled-true-hWMCax{pointer-events:none}
    
    }
  }
@layer Text_tsx-Text-dmRHBx {
      .baseStyle-Text-fLRJuT{line-height:var(--co-lineHeights-sm);font-family:var(--co-fonts-font-family)}.variants-static-italic-true-bYNGXt{font-style:italic}
.variants-static-underline-true-hrMtea{text-decoration:underline}
.variants-static-delete-true-zwFgw{text-decoration:line-through}
.variants-dynamic-gradient-OuqoK{background-image:var(--variants-dynamic-gradient);-webkit-background-clip:text;background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.variants-dynamic-rows-iQGDgL{display:-webkit-box;-webkit-line-clamp:var(--variants-dynamic-rows);-webkit-box-orient:vertical;overflow:hidden}
    
    }
@layer Image_tsx-StyledImage-eBRAto {
    .baseStyle-StyledImage-geuMQO{object-position:center;object-fit:cover;width:100%;height:100%;flex-shrink:0;max-width:100%}.variants-static-cover-true-eCSSFU{object-fit:cover}
.variants-static-contain-true-fRKYWh{object-fit:contain}
.variants-static-fill-true-Uwpmy{object-fit:fill}
.variants-dynamic-blur-cQMTHP{filter:blur(var(--variants-dynamic-blur))}

    @layer Atomic_tsx-Atomic-gKMHyH {
      .baseStyle-Atomic-cCmDkm{display:inline-block;box-sizing:border-box;padding:0;margin:0}.variants-dynamic-w-fKYRYL{width:var(--variants-dynamic-w)}
.variants-static-circle-true-eDlWuc{border-radius:100000px;aspect-ratio:1}
.variants-static-square-true-gMMftT{aspect-ratio:1}
.variants-static-round-true-dtVMWK{border-radius:100000px}
.variants-static-dbg-true-imyPck{border:1px solid red}
.variants-static-disabled-true-hWMCax{pointer-events:none}
    
    }
  }
@layer Image_tsx-StyledImageContainer-bliUdr {
    .baseStyle-StyledImageContainer-jlwzQw{display:inline-block;overflow:hidden}
    @layer Atomic_tsx-Atomic-gKMHyH {
      .baseStyle-Atomic-cCmDkm{display:inline-block;box-sizing:border-box;padding:0;margin:0}.variants-dynamic-w-fKYRYL{width:var(--variants-dynamic-w)}
.variants-static-circle-true-eDlWuc{border-radius:100000px;aspect-ratio:1}
.variants-static-square-true-gMMftT{aspect-ratio:1}
.variants-static-round-true-dtVMWK{border-radius:100000px}
.variants-static-dbg-true-imyPck{border:1px solid red}
.variants-static-disabled-true-hWMCax{pointer-events:none}
    
    }
  }
@layer variants_tsx-Icon-ilgXVA {
      .baseStyle-Icon-fRKYWh{object-fit:contain}    
    }
@layer variants_tsx-Avatar-kvmaby {
      .baseStyle-Avatar-hwdJxP{round:true;object-fit:contain}    
    }
@layer variants_tsx-Banner-cNmodn {
      .baseStyle-Banner-eCSSFU{object-fit:cover}    
    }
  }